rojo = #e21a22

body
	font-size 16px
	font-family 'Roboto', sans-serif

#wrapper
	width 100%

header
	height 681px
	width 100%

nav
	height 120px
	width 100%

figure
	margin 0 auto
	padding 0
	width 960px
	height 66px

#menu
	height 54px
	width 100%
	background rojo

#logo_content
	width 100%
	height 66px

#logo_square
	width 66px
	height 76px
	background rojo
	border-radius 5px
	margin-top -10px

#clouds
	background url(../assets/header_nviba.jpg)
	background-position center
	background-size cover
	height 681px
	width 100%
	top 0

.logo
	margin-top -10px
	margin-left 10px
	margin-right 10px

.absolute
	position absolute

.relative
	position relative

.scrollblock
	height 1140px
	width 100%

 .cat1
 	background url(../assets/cat/c1.png)
	position absolute
	right 0px
	background-repeat no-repeat
 
 .cat2
 	background url(../assets/cat/c2.png)
	position absolute
	right 20px
	background-repeat no-repeat
 
 .cat3
 	background url(../assets/cat/c3.png)
	position absolute
	right 40px
	background-repeat no-repeat
 
 .cat4
 	background url(../assets/cat/c4.png)
	position absolute
	right 60px
	background-repeat no-repeat
 
 .cat5
 	background url(../assets/cat/c5.png)
	position absolute
	right 80px
	background-repeat no-repeat
 
 .cat6
 	background url(../assets/cat/c6.png)
	position absolute
	right 100px
	background-repeat no-repeat
 
 .cat7
 	background url(../assets/cat/c7.png)
	position absolute
	right 120px
	background-repeat no-repeat
 
 .cat8
 	background url(../assets/cat/c8.png)
	position absolute
	right 140px
	background-repeat no-repeat
 
 .cat9
 	background url(../assets/cat/c9.png)
	position absolute
	right 160px
	background-repeat no-repeat
 
 .cat10
 	background url(../assets/cat/c10.png)
	position absolute
	right 180px
	background-repeat no-repeat
 
 .cat11
 	background url(../assets/cat/c11.png)
	position absolute
	right 200px
	background-repeat no-repeat



