rojo = #e21a22

body
	font-size 16px

nav
	height 120px
	width 100%
	z-index 100
	position relative

figure
	margin 0 auto
	padding 0
	width 960px
	height 66px

header
	height 681px
	width 100%
	position relative

section
	height 1140px

#menu
	height 54px
	width 100%
	background rojo

#logo_content
	width 100%
	height 66px

#logo_square
	width 66px
	height 76px
	background rojo
	border-radius 5px
	margin-top -10px

#clouds
	background url(../assets/header_nviba.jpg)
	background-position center
	background-size cover
	height 681px
	width 100%
	top 0

.logo
	margin-top -10px
	margin-left 10px
	margin-right 10px

.absolute
	position absolute

.relative
	position relative

.scrollblock
	width 100%

.white_birds img
	position absolute
	width 100%
	height 700px
	z-index 90

.red_birds img
	position absolute
	width 100%
	height 700px
	z-index -90

.cat_animation
	width 370px
	height 255px
	position absolute
	right 0
	bottom 0

.cat1
	background url("../assets/cat/c1.png")
	position absolute
	right 0px
	background-repeat no-repeat
	bottom -10px
.cat2
	background url("../assets/cat/c2.png")
	position absolute
	right 45px 
	background-repeat no-repeat
	bottom -10px
.cat3
	background url("../assets/cat/c3.png")
	position absolute
	right 90px 
	background-repeat no-repeat
	bottom -10px
.cat4
	background url("../assets/cat/c4.png")
	position absolute
	right 135px 
	background-repeat no-repeat
	bottom -10px
.cat5
	background url("../assets/cat/c5.png")
	position absolute
	right 180px 
	background-repeat no-repeat
	bottom -10px
.cat6
	background url("../assets/cat/c6.png")
	position absolute
	right 225px 
	background-repeat no-repeat
	bottom -10px
.cat7
	background url("../assets/cat/c7.png")
	position absolute
	right 270px 
	background-repeat no-repeat
	bottom -10px
.cat8
	background url("../assets/cat/c8.png")
	position absolute
	right 315px
	background-repeat no-repeat
	bottom -10px
.cat9
	background url("../assets/cat/c9.png")
	position absolute
	right 360px
	background-repeat no-repeat
	bottom -10px
.cat10
	background url("../assets/cat/c10.png")
	position absolute
	right 405px
	background-repeat no-repeat
	bottom -10px
.cat11
	background url("../assets/cat/c11.png")
	position absolute
	right 450px
	background-repeat no-repeat
	bottom -10px