rojo = #e21a22

body
	font-size 16px

#wrapper
	width 100%

header
	height 681px
	width 100%

nav
	height 120px
	width 100%

figure
	margin 0 auto
	padding 0
	width 960px
	height 66px

#menu
	height 54px
	width 100%
	background rojo

#logo_content
	width 100%
	height 66px

#logo_square
	width 66px
	height 76px
	background rojo
	border-radius 5px
	margin-top -10px

#clouds
	background url(../assets/header_nviba.jpg)
	background-position center
	background-size cover
	height 681px
	width 100%
	top 0

.logo
	margin-top -10px
	margin-left 10px

.absolute
	position absolute

.relative
	position relative

.scrollblock
	height 1140px
	width 100%




